/* Gaya untuk seluruh halaman */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e3fdfd;
}

/* Gaya untuk header */
header {
  background-color: #19a7ce;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Gaya untuk form tambah buku */
.add-book {
  color: #19a7ce;
  padding: 20px;
  text-align: center;
}

.add-book form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.add-book form div {
  margin-bottom: 10px;
}

.add-book form label {
  font-weight: bold;
}

.add-book form input[type="text"],
.add-book form input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-book form button {
  padding: 10px 20px;
  background-color: #19a7ce;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Gaya untuk tampilan rak buku */
.bookshelf {
  color: #19a7ce;
  text-align: center; /* Mengatur h2 berada di tengah */
  display: flex; /* Mengaktifkan Flexbox */
  justify-content: space-between;
  flex-wrap: wrap;
}

.bookshelf h2 {
  width: 100%;
}

.bookshelf-section {
  width: 50%; /* Mengatur lebar untuk setiap bagian */
  padding: 5px;
}

/* Mengatur daftar buku yang belum dibaca (unread-books) */
#unread-books {
  border-radius: 10px;
  border: 1px solid #19a7ce; /* Mengatur border dengan warna dan ketebalan yang diinginkan */
  padding: 10px; /* Menambahkan padding di sekitar konten */
  background-color: #cbf1f5; /* Mengatur warna latar belakang */
}

/* Mengatur daftar buku yang sudah dibaca (read-books) */
#read-books {
  border-radius: 10px;
  border: 1px solid #19a7ce; /* Mengatur border dengan warna dan ketebalan yang diinginkan */
  padding: 10px; /* Menambahkan padding di sekitar konten */
  background-color: #cbf1f5; /* Mengatur warna latar belakang */
}

.search-bar {
  margin-bottom: 20px;
}

#search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #19a7ce;
  border-radius: 5px;
}

.search-box {
  position: absolute;
  right: 0;
  background: #cbf1f5;
  padding: 10px;
  border-radius: 40px;
}

.search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover .search-btn {
  background: #19a7ce;
  color: white;
}

.search-btn {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #19a7ce;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-decoration: none;
}

.search-btn i {
  color: azure;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.5s;
  line-height: 30px;
  width: 0px;
}

/* Gaya untuk footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #19a7ce;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.credit {
  margin-bottom: 10px;
}

.credit a {
  color: #fff;
  text-decoration: none;
}

.social-media ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-media ul a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Gaya responsif untuk ukuran layar kecil */
@media (max-width: 600px), (max-width: 768px) {
  .add-book form {
    max-width: 100%;
  }
}
